{% include 'header.html' %}
<div class="container">
    <div class="card" style="text-align: right;">
        <div class="card-body">
            <a href="{{url_for('estantes')}}"><i class="fa-solid fa-circle-plus fa-xl"></i></a>
        </div>
    </div>

    <table class="table table-light">
        <thead class="thead-light">
            <tr>
                <th>Código de estante</th>
                <th>Descripción</th>
                <th>Ubicación</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for estantes in estantes %}

            <tr>
                <td>{{ estantes[0] }}</td>
                <td>{{ estantes[1] }}</td>
                <td>{{ estantes[2] }}</td>
                <td>
                    <a href="/edit/{{ estantes[0] }}"><i class="fa-solid fa-pen-to-square fa-xl"></i
          ></a>
                    <a onclick="confirm('Está seguro de eliminar el registro?')" href="/destroy/{{ estantes[0] }}"><i class="fa-solid fa-circle-minus fa-xl fa-fade"></i
          ></a>
                </td>
            </tr>

            {% endfor %}
        </tbody>
    </table>
</div>
--> {% include 'footer.html' %}