{% include 'header.html' %}
<div class="container">
    <div class="card" style="text-align: right;">
        <div class="card-body">
            <a href="{{url_for('unidades')}}"><i class="fa-solid fa-circle-plus fa-2xl"></i></a>
        </div>
    </div>
    <table class="table table-light">
        <thead class="thead-light">
            <tr>
                <th>Código de unidad</th>
                <th>Descripción</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for unidades in unidades %}

            <tr>
                <td>{{ unidades[0] }}</td>
                <td>{{ unidades[1] }}</td>
                <td>
                    <a href="/edit/{{ unidades[0] }}"><i class="fa-solid fa-pen-to-square fa-xl"></i
          ></a>
                    <a onclick="confirm('Está seguro de eliminar el registro?')" href="/destroy/{{ unidades[0] }}"><i class="fa-solid fa-circle-minus fa-xl fa-fade"></i
          ></a>
                </td>
            </tr>

            {% endfor %}
        </tbody>
    </table>
</div>
{% include 'footer.html' %}